<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Benjamin Porter">
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#25b6d0">

  <title>{{ page.title }} - {{ site.title }}</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="/css/main.css">
  <link rel="stylesheet"
        href="/css/bootstrap-social.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Droid+Serif">

  <script src="https://use.fontawesome.com/ba1d4a3a9d.js"></script>
</head>
