<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img class="image" src="/img/bporter.jpg" width="192" height="192" alt="Benjamin Porter" />
    <h1 class="adaptive">Benjamin Porter</h1>
    <h2 class="adaptive">cs @ utexas</h2>
      <nav class="navbar">
        {% for i in site.data.nav %}
          <a href="{{ i.link }}" class="link">
            <i class="{{ i.icon }}"></i><br />
            <p>{{ i.text }}</p>
          </a>
        {% endfor %}
      </nav>
  </div>
</div>
